/*General style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #291b19;
    --secondary-color:#A57355;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
/*End General style*/

/* Header */
header nav{
background-color: var(--main-color);
}
header nav .navbar-brand{
    font-size: 25px !important;
    font-weight: bold;
}
header nav .navbar-brand span{
    color: var(--secondary-color);
}
header nav ul li a{
    color: white !important;
}header nav ul li a:hover{
    color:var(--secondary-color) !important;
}
/* End Header */

/* Slide */
.slide .carousel-inner .carousel-item{
   height: 100vh;
}
.slide .carousel-caption{
padding-bottom: 300px;
}
.slide .carousel-caption h5{
    font-size: 50px;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: white;
    padding: 20px;
    }
.slide .carousel-caption p{
        font-size: 25px;
        font-weight: 700;
        color: var(--main-color);
        
        }
/* End Slide */
/* Why us */
.why-us .bg-dark{
    background-image: url(/img/cafe.jpg);
    background-color: var(--secondary-color);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
/* End Why us */
/* Footer */
footer a{
  color: var(--secondary-color);
}
footer a:hover{
    color: var(--main-color);
  }
/* End Footer */

/* Produkter */
.coffee-party .text-primary {
    color: var(--secondary-color) !important;
}
.coffee-party .btn-primary{
    background-color: var(--secondary-color);
    border: none;
}
.coffee-party .btn-primary:hover{
    background-color: var(--main-color);
    
}
.coffee-machines img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* End Produkter */


